.board-heatmap {
  border: 2px solid black;
  position: relative; /* Needed for heatmap.js to fit */
  width: 400px;
  height: 400px;
  background-color: transparent;
}

.board-grid {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.board-grid-cell {
  font-size: 8pt;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.board-grid-cell:hover {
  border: 1px solid black;
}

.grid {
  display: table;
}
.grid-row {
  display: table-row;
}
.grid-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
